@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

body{
  margin:0;
  font-family: system-ui, sans-serif;
}

html{
  scroll-behavior: smooth;
}
.leaflet-popup-content a {
  color: white !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-in-out;
}